.idea/*
cmake-build-*/*
cmake-build-debug/*
scripts/*.txt
scripts/*.out
scripts/*.cpp
scripts/tempRes/*.txt
scripts/tempRes2/*.txt
scripts/microbenchmarks/*.txt
scripts/benchmarks/*.txt
scripts/microbenchmarks/*.dat
scripts/benchmarks/*.dat
*.dat
*.pdf
*.jpg
*eps
resources/datasets/google-cluster-data/saber-debs-demo.data
resources/datasets/lrb/datafile3hours.dat
